body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: auto; */
   
}

html{
    scroll-behavior: smooth;
    transition: 0.3s;
}
.main{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;


}

.header 
{
    background-color:   transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
    padding: 0 10%;
    color: white;
    position: fixed;
    /* border: 1px solid white; */
    width: 100%;
    z-index: 2;
}


    

.header ul{

    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header .logo
{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* border: 1px solid coral; */
    height: 50px;
    width: 50px;
    animation: animate2 0.2s linear infinite;
    animation-play-state: paused;
    overflow: hidden;
    border-radius: 50%;   
}




@keyframes animate2 {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.header  h6{
    position: absolute;
    text-align: center;
}

.header .logo .outer-circle
{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 2px solid white; */

}
.header .logo .animated-circle
{
    /* content: ''; */
    height: 80px;
    width: 20px;
    /* border-top: 2px solid; */
    background: linear-gradient(transparent, coral,#ff3c7b,yellow, transparent );    
    position: absolute;
    top: -15px;
    right: 15px;
    animation: circle 1s linear infinite;
}



@keyframes circle {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
    
}
.header .logo .inner-circle
{
    /* content: ''; */
    height: 90%;
    border: 1px solid gray;
    width: 90%;
    background-color: black;
    position: absolute;
   border-radius: 50%;
    position: absolute;
    /* background:url('../assests/image_6483441-2.png');
    background-size: cover; */
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.header .logo .inner-circle .circle{

    position: absolute;
    height: 70%;
    width: 70%;
    border: 2px solid gray;
    border-radius: 50%;
    z-index: 2;
  
}
.header .navbar
{
     
    width: 40%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  
    
}

.header .navbar a
{
    position: relative;
    color: coral;
    text-decoration: none;
    
    /* border-radius: 20%;    */
    font: 50px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
    padding: 5px 10px;
    margin-right: 10px;
    /* overflow: hidden; */
    
}

.header .navbar .contact
{
    background-color: coral;
    color: black;
    padding: 10px;
    border-radius: 2px ;
}

.header .navbar .contact:hover{
    background-color: transparent;
    color: coral;
    border: 2px solid coral;
}
.header .navbar a::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    border-bottom: 2px solid coral;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .5s;
    
}
.header .navbar a:hover::before, active{

   width: 100%;
   color: black;
  

}
.home
{
  
    height: auto;
    padding: 100px 0;
    width: 100%;
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
  background-color:  black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}

/* .home::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
     */


.home h1{
    letter-spacing:2px;
   font-weight: bold;
    font-size: 50px;
}




.home .left-col
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    /* align-items: center; */
    /* width: 50%; */
    /* height: 100%; */
    /* padding: 0 5%; */
}
.home .right-col
{
    /* border: 1px solid white; */
    height:500px;
  background: url('../assests/image_6483441-2.png') no-repeat;
  background-size: contain;
  background-position: center;
  /* width: 30%; */
  opacity: 0.8;
  /* border-radius: 50%; */
  padding: 50px 0px;
 
 
}


.home h4{
    color: coral;
}
.about
{
    height: auto;
    padding: 70px 0;
}
.button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
}

.button a:nth-child(1)
{
    color: black;
    
}

.button a:nth-child(1):hover 
{
    color: white;
}
.button a
{
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
   border-radius:5px ;
    border: 1px solid coral;
    color: coral;
    /* background-color: coral; */
}

.button :nth-child(1)
{
    background-color: coral;
    color: white;
}
.button :nth-child(2)::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background-color: coral;
    width: 0%;
    height: 100%;
    /* z-index: -1; */
    transition: .5s;
}
.media
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    /* border: 1px solid red; */
    width: 98%;
    height: 200px;
    margin: auto;
    position: fixed;
    top: 400px;
    background-color: transparent;
    z-index: 1;
}
.media i{
    color: coral;
    height: 40px;
    width: 40px;
    border:1px solid coral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  

}


.media a{
    text-decoration: none;
}

.media i:hover{
    background-color: coral;
    transition: 0.5s;
    color: black;

}
.project,#projects
{
   
    width: 100%;
    background-color: #12486B;
   

    
}


    

.project .title
{
    font-size: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   letter-spacing: 5px;
    font-weight: bold;

   

}

.project .title span{
    color: white;
    transition: 0.3s;
    cursor: pointer;
    background:transparent;
}

.main .header .hamburger 
{
    height: 100%;
    display: none;
   
    
}

.main .header .hamburger i{
    color: coral;
}

.about{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.about .section
{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-display: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project .container .card
{
    border: 1px solid #12486B;
background-color: transparent;
    /* color: white; */
    padding: 20px;

}

.project .container .card .inner-card
{
    height: 300px;
   
}
.project .container .card .inner-card .image-sec
{
    height: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px 5px grey;
    
}

.project .container .card .inner-card .image-sec::before{
    content: '';
    background: linear-gradient(transparent, #ff3c7b,black,black, transparent );
    height: 400px;
    width: 100px;
    position: absolute;
    top: -80px;
    
    /* transform: translate(-50%, -50%); */
    animation: animate1  3s linear infinite ;
    /* animation-play-state: paused; */
    
}

@keyframes animate1 {
    0%
    {
        transform:  rotate(360deg);
    
    }
    100% 
    {
        transform:  rotate(0deg);
    }
    
}
.project .container .card .inner-card .image-sec::after{
    content: '';
    background-color: gray;
    height: 98%;
    width: 98%;
    position: absolute;
    /* top: -80px; */
    /* transform: translate(-50%, -50%); */
    /* animation: animate1  3s linear infinite ; */
    
}

.project .container .card .inner-card .button-sec
{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project .container .card .inner-card .button-sec a
{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 5px;
}

.Resume

{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black ;
   
   
}
.Resume .cv
{
   border: 1px solid black;
   height: 500px;
   width: 300px;
   background-color: black;
   position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 

}

.Resume .cv::before{
    content: '';
    background: linear-gradient(transparent, #ff3c7b,#ff3c7b,#ff3c7b );
    height: 700px;
    width: 200px;
    position: absolute;
    top: -80px;
    right: 50px;
    /* transform: translate(-50%, -50%); */
    animation: animate  3s linear infinite ;
    

    


}

.Resume .cv::after{
    content: '';
    background-color: black;
    
    position: absolute;
    height: 99%;
    width: 98%;

}

@keyframes animate {
    0%
    {
        transform:  rotate(360deg);
    
    }
    100% 
    {
        transform:  rotate(0deg);
    }
    
}

.Resume img{
    height: 100%;
    width: 85%;
}
.downloadbutton
{
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 50px;
    
}
.downloadbutton a{
    text-decoration: none;
    color: coral;
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 4px ;
}
@media only screen and (max-width: 1076px) {

    .main .header{
        padding: 5px 0;
        display: flex;
        justify-content: space-around;
    }
 
    .main .header ul
   {
       
    display: none;
    position: absolute;
    border: 1px solid white;
    top: -100;
    right: -100;
    width: 100%;
   
   }



   .main .header .hamburger
   {
       display: block;
   }

   

  }



